<li>
  <%= gravatar_for user, size: Settings.gravatar_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !user.current_user?(current_user) %>
    | <%= link_to t(".delete"), user, method: :delete,
    data: { confirm: t(".sure") } %>
  <% end %>
</li>
